.contact__content {
	padding: 48px 24px;
	border-radius: 10px;
	text-align: center;
	background: #005177;
}

.contact__content__title > h2 {
	font-size: 32px;
}

.contact__content__cta-text {
	margin: 48px 0;
}
