<section>
	<div>
		<h2>MINHAS HABILIDADES</h2>
	</div>

	<div>
		<p>
			Busco criar interfaces visualmente deslumbrantes e intuitivas, que não apenas atendam, mas superem as expectativas
			dos usuários. Comprometido com a excelência, meu objetivo é encantar e deixar uma marca duradoura, combinando
			dedicação e amor.
		</p>
	</div>

	<div>
		<div>
			<div>
				<img src="../assets/images/design-icon.png" alt="item">
			</div>
			<div>
				<h6>Web Design</h6>
			</div>
			<div>
				<p>Criação de telas e identidade visual para o projeto, considerando quem vai utilizar o produto</p>
			</div>
		</div>

		<div>
			<div>
				<img src="../assets/images/dev-icon.png" alt="item">
			</div>
			<div>
				<h6>Desenvolvimento Web</h6>
			</div>
			<div>
				<p>Desenvolvimento de sites e funcionalidades web utilizando linguagens de programação</p>
			</div>
		</div>

		<div>
			<div>
				<img src="../assets/images/analysis-icon.png" alt="item">
			</div>
			<div>
				<h6>Análise de Dados</h6>
			</div>
			<div>
				<p>Interpretação e análise de dados para extrair insights precisos, além da criação de dashboards.</p>
			</div>
		</div>
	</div>

	<hr>

	<div>
		<div>
			<h5>Feramentas utilizadas</h5>
		</div>
		<div>
			AQUI VAI UM COMPONENTE
		</div>
	</div>
</section>
