<section>
	<div class="skills__content-title">
		<h2>{{ title }}</h2>
	</div>

	<div class="skills__content-text">
		<p>
			{{ text }}
		</p>
	</div>

	<div class="skills__content-services">
		<div>
			<app-service-card
				serviceIcon="../assets/images/design-icon.png"
				title="web design"
				service="Criação de telas e identidade visual para o projeto, considerando quem vai utilizar o produto"
			>
			</app-service-card>
		</div>

		<div>
			<app-service-card
				serviceIcon="../assets/images/dev-icon.png"
				title="desenvolvimento web"
				service="Criação de telas e identidade visual para o projeto, considerando quem vai utilizar o produto"
			>
			</app-service-card>
		</div>

		<div>
			<app-service-card
				serviceIcon="../assets/images/analysis-icon.png"
				title="análise de dados"
				service="Criação de telas e identidade visual para o projeto, considerando quem vai utilizar o produto"
			>
			</app-service-card>
		</div>
	</div>

	<div>
		<div class="text-center">
			<h5>Feramentas utilizadas</h5>
		</div>
		<div>
			<app-skills-card></app-skills-card>
		</div>
	</div>
</section>
