.skills__content-title {
	font-size: 32px;
	color: #44C4FF;
}

.skills__content-text {
	color: #CECECE;
	margin-top: 40px;
	margin-bottom: 32px;
}

.skills__content-services > div {
	margin: 32px 0;
}

