.about__content {
	padding: 16px;
	border-radius: 10px;
	background: rgba(224, 224, 224, 0.05);
	box-shadow: 0px 0px 2px 0px rgba(240, 242, 245, 0.25);
}

.about__content-image {
	width: -webkit-fill-available;
}

.about__content-title {
	margin-top: 48px;
	margin-bottom: 0;
	font-size: 32px;
	color: #44C4FF;
}

.about__content-name {
	line-height: normal;
	font-size: 40px;
	font-weight: 500;
}

.about__content-subtitle {
	font-weight: 500;
}

.about__content-text {
	margin-top: 32px;
	color: #CECECE;
}
