<section>
	<div>
		<img src="../assets/images/self-picture.png" alt="">
	</div>
	<div>
		<div>
			<h2>QUEM SOU</h2>
			<span>?</span>
		</div>

		<div>
			<p>
				Olá, me chamo <span>Israel Isaias Sandrino</span>, tenho 24 anos e eu sou um entusiasta da tecnologia, apaixonado por
				desenvolver soluções inteligentes e elegantes. Minha jornada começou com estudos em Física Licenciatura, o que
				me proporcionou habilidades analíticas e uma abordagem científica apurada. Hoje, como Analista de Sistemas,
				aplico meus conhecimentos e experiência para criarsoluções inovadoras e eficientes.
			</p>
		</div>

		<div>
			<button>
				DOWNLOAD CV
			</button>
		</div>
	</div>
</section>
