<div class="about__content">
	<div>
		<img src="../assets/images/self-picture.png" alt="Israel Sandrino">
	</div>
	<div>
		<div>
			<h2 class="about__content-title">{{ title }}</h2>
			<div class="about__content-name">Israel Sandrino</div>
			<br/>
			<div class="about__content-subtitle">{{ subtitle }}</div>
		</div>

		<p class="about__content-text">
			{{ text }}
		</p>

		<div>
			<app-social-medias></app-social-medias>
		</div>

		<div>
			<app-button
					name="DOWNLOAD CV"
				></app-button>
		</div>
	</div>
</div>
