.content {
	margin-top: 60px;
}

.app_component-index {
	margin-bottom: 96px;
}

.app_component-about {
	margin-bottom: 96px;
}

.app_component-skills {
	margin-bottom: 96px;
}

.app_component-projects {
	margin-bottom: 96px;
}
