<div class="text-center">
	<div class="d-flex justify-content-between">
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-html.png" alt="Ícone HTML">
		</div>
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-css.png" alt="Ícone CSS">
		</div>
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-javascript.png" alt="Ícone JavaScript">
		</div>
	</div>

	<div class="d-flex justify-content-between">
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-sass.png" alt="Ícone Sass">
		</div>
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-bootstrap.png" alt="Ícone Bootstrap">
		</div>
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-typescript.png" alt="Ícone TypeScript">
		</div>
	</div>

	<div class="d-flex justify-content-between">
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-angular.png" alt="Ícone Angular">
		</div>
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-grafana.png" alt="Ícone Grafana">
		</div>
		<div class="skills__cards__icon-content">
			<img src="../assets/images/icons/icon-figma.png" alt="Ícone Figma">
		</div>
	</div>
</div>
