.button {
	padding: 4px 24px;
	border-radius: 50px;
	border: 2px solid #44C4FF;
	letter-spacing: 0.72px;
	color: #f0f0f0;
	background: none;
}

.button:hover {
	background-color: #44C4FF;
	color: #00000f;
}
