.index__content > div {
	margin: 36px 0;
}

.index__content-title {
	margin-top: 48px !important;
}

.index__content-title h1 {
	font-size: 48px;
	font-weight: 400;
}

.index__content-title h1 > span {
	color: #44C4FF;
	font-weight: 600 ;
}

.index__content-image {
	margin: 48px 0;
}
