
<div class="d-flex flex-column flex-md-row align-items-center">
	<div class="index__content text-center">
		<div class="index__content-title">
			<h1>Transformando <span>ideias</span> em <span>realidade</span></h1>
		</div>
		<div>
			<span>Web Design, Desenvolvimento Web & Análise de Dados</span>
		</div>
		<div>
			<div class="index__content-image d-md-none">
				<img src="../assets/images/index-sm-logo.png" alt="Index Logo">
			</div>
			<div>
				<app-button
					name="Diga olá"
				></app-button>
			</div>
		</div>
	</div>
	<div class="d-none d-md-flex index__content-image">
		<img src="../assets/images/index-sm-logo.png" alt="Index Logo">
	</div>
</div>
