h1 > span {
	background: linear-gradient(90deg, #62abd5 0%, #35bed0 50.52%, #37fcb7 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
