.accordion-header {
	background: #005177 !important;
}

.accordion-style {
	color: #F0F0F0;
}

.project__accordion-image {
	width: 329px;
}

.project__accordion-image > img {
	width: -webkit-fill-available;
}
